# macOS 시스템 파일 제외
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ 프로젝트 관련 파일 제외
.idea/
*.iml
*.iws
*.ipr
out/

# Java 빌드 파일 제외
/out/
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Temporary files
*.swp
*.swo
*~
Thumbs.db

# 추적하지 않을 디렉터리
src/practice/